/*Universal properties*/

* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html, body, img, .purple-background {
    width: 100%;
}

a {
    color: white;
}

.hero-img, .skelekton, .cosmology, .evolution, .BiologyandMedicine, .RoboticsandAI, .event-background, .map, .getinvolved-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.contact-wrapper {
    width: 54%;
    color: white;
}

.contact-wrapper h2 {
    font-size: 32px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}

.label {
    display: none;
}


@media only screen and (max-width: 48em) {
    /* Top section */

    body {
        padding-top: 50px;
    }
    
    .logo {
        width: 79px;
        margin-left: 20px;
    }

    .nav-bar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #main-header {
        background-color: #6B00FC;
        width: 100%;
        height: 51px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        z-index: 999;
        top: 0;
    }

    #main-list {
        font-family: 'Inter', sans-serif;
        position: absolute;
        right: 0px;
        top: 30px;
        background-color: #6B00FC;
        color: white;
        text-align: center;
        font-size: 15px;
        font-weight: 600;
    }

    li {
        padding: 20px;
    }
    

    #menu {
        font-size: 1.5em;
        margin-right: 20px;    
    }

    ul, #hamburger {
        display: none;
    }

    #hamburger:checked + ul {
        display: block;
    }

    .hero-img {
        background-image: url('/images/mavis-cw-1641281.jpg');
        object-fit: cover;
        height: 55vh;
        display: flex;
        margin: auto;
    }

    .science-title h1 {
        font-size: 20px;
        margin-bottom: 70px;
    }

    .explore-btn {
        background-color: #FFBF00;
        width: 100px;
        height: 20px;
        padding: 4px 0px;
        border-radius: 20px;
        cursor: pointer;
        font-weight: 600;
        display: flex;
        justify-content: space-around;

    }

    .explore-btn a {
        font-family: 'Montserrat', sans-serif;
        font-size: 10px;
        color: black;
    }

    .science-title, .explore-btn {
        color: white;
        margin: auto;

    }


    .content-wrapper {
        width: 90%;
        margin: auto;
    }

    .front-text1 {
        color: black;
        font-weight: 600;
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
    }

    .text-area1 p, .text-area2 p {
        font-size: 16px;
        padding-top: 10px;
        text-align: center;
        margin-bottom: 20px;
    }

    .exciting, .observing {
        color:#6B00FC;
    }
    

    .first-section {
        display: flex;
        flex-direction: column;
        margin: 40px 0px;
        align-items: center;
    }

    .man-microscope {
        border-radius: 10%;
        height: 180px;
        width: 280px;
    }

    .purple-background {
        margin: auto;
        background-color: #6B00FC;
        height: 540px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        align-items: center;
        text-align: center;
        color: white;
    }

    .purple-background p {
        font-size: 16px;
    }

    .purple-background h3 {
        font-size: 18px;
    }

    .teacher {
        width: 60px;
        height: 60px;
    }


    .kids {
        width: 70px;
        height: 60px;
    }

    .researcher {
        width: 60px;
        height: 60px;
    }


    .second-section {
        display: flex;
        flex-direction: column-reverse;
        margin: 40px 0px;
        align-items: center;
    }

    .genoa {
        border-radius: 10%;
        height: 180px;
        width: 280px;
    }

      /* Exhibition page */

      .exhibition-wrapper {
        width: 70%;
        margin: auto;
    }

    .cosmology, .evolution, .biologyandmedicine, .ecology {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        margin: 20px 0px;
    }

    .cosmology1, .evolution1, .biologyandmedicine1, .ecology1  {
        width: 100%;
    }

    .cosmology-text, .evolution-text, .biologyandmedicine-text, .ecology-text {
        font-size: 16px;
    }

    .cosmology-text p, .evolution-text p, .biologyandmedicine-text p, .ecology-text p {
        padding: 10px 0px;
    }

    .cosmology-text h2, .evolution-text h2, .biologyandmedicine-text h2, .ecology-text h2 {
        font-size: 20px;
        padding: 3px;
        background-color: #6B00FC;
        color: white;
    }

    /* Event page */

    .event-background {
        background-image: url(images/exhibition-1863344_1920.jpg);
        height: 35vh;
        display: flex;
        justify-content: space-around;
    }

    .slogan-event {
        color: white;
        margin: auto 0px;
    }

    .slogan-event h1 {
        font-size: 20px;
    }

    .slogan-event p {
        font-size: 12px;
    }

    /* Universal for event page */

    .first-block, .second-block, .second-wrapper, .third-block {
        padding: 20px 0px;
    }

    .first-wrapper, .third-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        align-items: center;
    }

    .second-wrapper {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        text-align: center;
        align-items: center;
    }

    .professor-wrapper h2, .energetica-wrapper h2, .night-wrapper h2 {
        font-size: 18px;
    }

    .professor-wrapper p, .energetica-wrapper p, .night-wrapper p {
        font-size: 16px;
        padding: 5px;
    }

    /* Beginning of 1st section */

    .first-block {
        background-color: #FFBF00;
    }
    
    .sheila {
        height: 250px;
        width: 250px;
        border-radius: 50%;
    }

    /* End of 1st section */
    /* Beginning of 2nd section */

    .energetica {
        margin-left: 10px;
    }
    
    .energetica {
        border-radius: 10px;
        height: 180px;
        width: 280px;
        
    }


    /*End of 2nd section */
    /* Beginning of 3rd section */

    .third-block {
        background-color: #038DF1;
    }

    .night {
        border-radius: 10px;
        width: 280px;
    }

    /* Visit page */

    .crowd-title {
        font-size: 20px;
        background-color: #6B00FC;
        height: 100px;
        display: flex;
        justify-content: space-around;
        color: white;
    }

    .visit-info-wrapper {
        margin: auto;
    }

    .visit-page {
        margin: auto;
    }

    .visit-info-wrapper {
        margin: auto;
    }

    .visit-page p {
        font-size: 16px;
    }

    .visit-page h3 {
        font-size: 20px;
    }

    .location-wrapper, .Admission-wrapper, .hours-wrapper, .accessibility-wrapper, .food-drink-wrapper, .shop-wrapper  {
        border: 2px solid #6B00FC;
        border-radius: 16px;
        width: 70%;
        margin: auto;
        padding: 15px;
    }

    .location-wrapper, .Admission-wrapper, .hours-wrapper, .accessibility-wrapper, .food-drink-wrapper, .shop-wrapper, .support-text  {
        margin-bottom: 30px;
    }

    .location-wrapper, .support-wrapper, .interships-wrapper {
        margin-top: 20px;

    }

    .visit-wrapper {
        margin-top: 20px
    }

    .admission-text {
        padding-top: 10px;
    }

    /* Get involved page */

        .getinvolved-wrapper {
        display: flex;
        flex-direction: column;
    }

    .text-wrapper {
        padding-right: 40px;
        margin: 20px;
    }

    .support-text, .volunteer-text {
        margin-top: 10px;
    }

    .form-wrapper {
        display: flex;
        justify-content: space-around;
        margin: auto;
        background-color: #6B00FC;
        color: white;
        border-radius: 10px;
        width: 250px;
        height: 300px;
        margin: auto;
        margin-bottom: 20px;
      }

      .form-wrapper h3 {
        font-size: 16px;
        padding-top: 10px;
        text-align: center;
        margin-bottom: 20px;
      }

      label {
        text-align: left;
        font-size: 16px;
    
      }

      input {
        border-radius: 8px;
        width: 140px;
        height: 25px;
        border: none;
        margin-bottom: 20px;
      }

      textarea  {
        width: 140px;
        height: 45px;
      }

      label, input{
        display: flex;
        flex-direction: column;
      }

      .form-submitbtn {
        background-color: #FFBF00;
        width: 130px;
        height: 30px;
        border-radius: 20px;
        text-align: center;
        margin: auto;
        cursor: pointer;
        font-weight: 600;
        margin-top: 10px;
        margin-right: 20px;
      }

      .form-submitbtn a {
        color: black;
        font-size: 13px;
      }

    
    .support-text, .volunteer-text {
        margin-top: 10px;
    }



        /* Footer */

    .contact-wrapper {
        margin: auto;
        width: 60%;
    }

    .line {
        width: 100%;
        height: 40px;
        background-color: #7711FF;
    }
    
    .footer-wrapper, .footer-wrapper1 {
        background-color: #6B00FC;
    }
    
    .footer-wrapper1 {
        margin-top: 0px;
    }
    
    
    .footer-row{
        width: 100%;
        margin: auto;
        color: white;
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
        margin-bottom: 40px;
    }

    .footer-row h3 {
        font-size: 14px;
    }

    .footer-row p {
        font-size: 10px;
        padding: 2px;
    }

    
    .csm {
        text-align: center;
        color: white;
        font-size: 12px;
    }

}


@media only screen and (min-width: 48.0625em) and (max-width: 64em) {

    body {
        padding-top: 60px;
    }

    .logo {
        width: 80px;
        float: left;
        
    }

    #hamburger, #menu {
        display: none;
    }

    ul {
        float: right;
    }

    li {
        display: inline-block;
        padding: 10px;
        font-size: 16px;
        font-weight: 500;
    }

    #main-header {
        background-color: #6B00FC;
        margin: auto;
        width: 100%;
        height: 60px;
        position: fixed;
        display: flex;
        align-items: center;
        z-index: 999;
        top: 0;
    }

    .nav-bar {
        width: 70%;
        margin: auto;
    }


    .hero-img {
        width: 70%;
        background-image: url('/images/mavis-cw-1641281.jpg');
        object-fit: cover;
        height: 55vh;
        display: flex;
        margin: auto;
    }

    .science-title h1 {
        font-size: 25px;
        margin-bottom: 70px;
    }

    .explore-btn {
        background-color: #FFBF00;
        width: 150px;
        height: 40px;
        border-radius: 20px;
        text-align: center;
        padding: 9px 0px;
        cursor: pointer;
        font-weight: 600;

    }

    .explore-btn a {
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        color: black;
    }

    .science-title, .explore-btn {
        color: white;
        margin: auto;
    }


    .content-wrapper {
        width: 70%;
        margin: auto;
    }

    .front-text1 {
        color: black;
        font-weight: 600;
        font-size: 25px;
        font-family: 'Montserrat', sans-serif;
    }

    .text-area1 p, .text-area2 p {
        font-size: 18px;
        padding-top: 10px;
    }

    .text-area2 {
        text-align: right;
    }

    .exciting, .observing {
        color:#6B00FC;
    }
    

    .first-section {
        display: flex;
        justify-content: space-around;
        margin: 40px 0px;
        align-items: center;
    }

    .man-microscope {
        border-radius: 10%;
        height: 280px;
        width: 380px;
        padding-left: 20px;
    }

    .purple-background {
        margin: auto;
        width: 100%;
        background-color: #6B00FC;
        height: 280px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-items: center;
        text-align: center;
        color: white;
    }

    .purple-background p {
        font-size: 16px;
    }

    .purple-background h3 {
        font-size: 18px;
    }


    .second-section {
        display: flex;
        justify-content: space-around;
        margin: 40px 0px;
        align-items: center;
    }

    .genoa {
        border-radius: 10%;
        height: 280px;
        width:  380px;
        padding-right: 20px;
    }

    .teacher {
        width: 80px;
        height: 80px;
    }

    .kids-wrapper h2 {
        margin-top: 16px;
    }

    .kids {
        width: 110px;
        height: 65px; 
    }

    .researcher {
        width: 80px;
        height: 80px;
    }

  /* Exhibition page */

    .exhibition-wrapper {
        width: 70%;
        margin: auto;
    }

    .cosmology, .evolution, .biologyandmedicine, .ecology {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        margin: 20px 0px;
    }

    .cosmology1, .evolution1, .biologyandmedicine1, .ecology1  {
        width: 100%;
    }

    .cosmology-text, .evolution-text, .biologyandmedicine-text, .ecology-text {
        font-size: 16px;
    }

    .cosmology-text p, .evolution-text p, .biologyandmedicine-text p, .ecology-text p {
        padding: 10px 0px;
    }

    .cosmology-text h2, .evolution-text h2, .biologyandmedicine-text h2, .ecology-text h2 {
        font-size: 25px;
        padding: 3px;
        background-color: #6B00FC;
        color: white;
    }

    /* Event page */

    .event-background {
        background-image: url(images/exhibition-1863344_1920.jpg);
        height: 35vh;
        display: flex;
        justify-content: space-around;
    }

    .slogan-event {
        color: white;
        margin: auto 0px;
    }

    .slogan-event h1 {
        font-size: 20px;
    }

    .slogan-event p {
        font-size: .9rem;
    }

    /* Universal for event page */

    .first-block, .second-block, .third-block {
        padding: 20px 0px;
    }

    .first-wrapper, .second-wrapper, .third-wrapper{
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .professor-wrapper h2, .energetica-wrapper h2, .night-wrapper h2 {
        font-size: 18px;
    }

    .professor-wrapper p, .energetica-wrapper p, .night-wrapper p {
        font-size: 18px;
    }

    .sheila, .night {
        margin-left: 10px;
    }

    /* Beginning of 1st section */

    .first-block {
        background-color: #FFBF00;
    }
    
    .sheila {
        border-radius: 50%;
        width: 35%;
    }

    /* End of 1st section */
    /* Beginning of 2nd section */

    .energetica {
        margin-left: 10px;
    }
    
    .energetica {
        border-radius: 10px;
        width: 33vh;
        margin-right: 30px;
    }

    .energetica-wrapper {
        text-align: right;
        padding-left: 20px;
    }

    /*End of 2nd section */
    /* Beginning of 3rd section */

    .third-block {
        background-color: #038DF1;
    }

    .night {
        border-radius: 10px;
        width: 16.063rem;
        height: 23.25rem;
    }

    /* Visit page */

    .map {
        background-image: url(images/GPS_map_generated.jpg);
        height: 50vh;
        background-position: center -10px;
    }

    .map-banner {
        background-color: #6B00FC;
        height: 100px;
        display: flex;
        justify-content: space-around;
        color: white;
    }

    .map-banner h2 {
        margin: auto 0px;
        color: white;
    }

    .visit-content {
        width: 70%;
        margin: auto;
    }

    .getinvolved-wrapper {
        width: 90%;
        margin: auto;
    }

    .location-wrapper, .admission-text, .hours-wrapper, .accessibility-wrapper, .food-drink-wrapper, .shop-wrapper, .support-text  {
        margin-bottom: 30px;
    }

    .location-wrapper, .support-wrapper, .interships-wrapper {
        margin-top: 20px;

    }

    .admission-text {
        padding-top: 10px;
    }

    /* Get involved page */
    
    .getinvolved-img {
        background-image: url('images/william-bout-264826.jpg');
        height: 50vh;
    }

    .support-text, .volunteer-text {
        margin-top: 10px;
    }

    /* Footer */

    .contact-wrapper {
        margin: auto;
        width: 60%;
    }

    .line {
        width: 100%;
        height: 40px;
        background-color: #7711FF;
    }

    .footer-wrapper, .footer-wrapper1 {
        background-color: #6B00FC;
    }

    .footer-wrapper1 {
        margin-top: 0px;
    }


    .footer-row{
        width: 70%;
        margin: auto;
        color: white;
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
        margin-bottom: 40px;
    }

    .footer-row p {
        font-size: 13px;
        padding: 2px;
    }

    .footer-row h3 {
        font-size: 16px;
    }


    .csm {
        text-align: center;
        color: white;
        font-size: 13px;
    }

}

@media only screen and (min-width: 64em) {

    body {
        padding-top: 70px;
    }

    .logo {
        width: 110px;
        float: left;
        
    }

    #hamburger, #menu {
        display: none;
    }

    ul {
        float: right;
    }

    li {
        display: inline-block;
        padding: 10px;
        font-size: 19px;
        font-weight: 500;
    }

    #main-header {
        background-color: #6B00FC;
        margin: auto;
        width: 100%;
        height: 70px;
        position: fixed;
        display: flex;
        align-items: center;
        z-index: 999;
        top: 0;
    }

    .nav-bar {
        width: 80%;
        margin: auto;
    }


    .hero-img {
        width: 80%;
        background-image: url('/images/mavis-cw-1641281.jpg');
        object-fit: cover;
        height: 55vh;
        display: flex;
        margin: auto;
    }


    .content-wrapper {
        width: 60%;
        margin: auto;
    }

    .front-text1 {
        color: black;
        font-weight: 600;
        font-size: 30px;
        font-family: 'Montserrat', sans-serif;
    }

    .exciting, .observing {
        color:#6B00FC;
    }
    

    .first-section {
        display: flex;
        justify-content: space-around;
        margin: 40px 0px;
        align-items: center;
    }

    .man-microscope {
        border-radius: 10%;
        height: 280px;
        width: 380px;
        padding-left: 20px;
    }

    .purple-background {
        margin: auto;
        width: 80%;
        background-color: #6B00FC;
        height: 220px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-items: center;
        text-align: center;
        color: white;
    }

    .purple-background p {
        font-size: 16px;
    }

    .purple-background h2 {
        font-size: 18px;
    }


    .second-section {
        display: flex;
        justify-content: space-around;
        margin: 40px 0px;
        align-items: center;
    }

    .genoa {
        border-radius: 10%;
        height: 280px;
        width:  380px;
        padding-right: 20px;
    }

    .text-area1 p, .text-area2 p {
        font-size: 18px;
        padding-top: 10px;
    }

    .text-area2 {
        text-align: right;
    }

    .science-title h1 {
        font-size: 30px;
    }

    .science-title, .explore-btn {
        color: white;
        margin: auto;
    }
    .explore-btn {
        background-color: #FFBF00;
        width: 200px;
        height: 40px;
        border-radius: 20px;
        text-align: center;
        padding: 9px 0px;
        margin-top: 70px;
        cursor: pointer;
        font-weight: 600;

    }

    .explore-btn a {
        font-family: 'Montserrat', sans-serif;
        color: black;
    }


    .more-info-btn {
        background-color: #FFBF00;
        width: 200px;
        height: 40px;
        border-radius: 20px;
        text-align: center;
        padding: 9px 0px;
        margin: auto;
        cursor: pointer;
        font-weight: 600;
    }

    .more-info-btn a {
        color: black;
        font-family: 'Montserrat', sans-serif;
    }



    .teacher {
        width: 80px;
        height: 80px;
    }

    .kids-wrapper h2 {
        margin-top: 16px;
    }

    .kids {
        width: 110px;
        height: 65px; 
    }

    .researcher {
        width: 80px;
        height: 80px;
    }

    /* Exhibition page */

    .exhibition-wrapper {
        width: 80%;
        margin: auto;
    }

    .cosmology, .evolution, .biologyandmedicine, .ecology {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 20px 0px;
    }

    .cosmology1, .evolution1, .biologyandmedicine1, .ecology1 {
        margin-bottom: auto;
    }

    .cosmology1 {
        width: 398px;
        height: 238px;
    }

    .evolution1 {
        width: 400px;
        height: 270px;
    }

    .biologyandmedicine1 {
        width: 400px;
        height: 270px;
    }

    .ecology1 {
        width: 400px;
        height: 320px;
    }

    .cosmology-text, .evolution-text, .biologyandmedicine-text, .ecology-text {
        font-size: 18px;
        padding-right: 30px;
        margin-bottom: auto;
    }

    .cosmology-text h2, .evolution-text h2, .biologyandmedicine-text h2, .ecology-text h2 {
        font-size: 30px;
        background-color: #6B00FC;
        color: white;
    }

    /* Universal for event page */

    .event-wrapper {
        width: 70%;
        margin: auto;
    }

    .first-block, .second-block, .third-block {
        padding: 20px 0px;
    }

    .first-wrapper, .second-wrapper, .third-wrapper{
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .professor-wrapper p, .energetica-wrapper p, .night-wrapper p {
        font-size: 18px;
    }

    .sheila, .night {
        margin-left: 10px;
    }

    /* Beginning of 1st section */

    .first-block {
        background-color: #FFBF00;
    }
    
    .sheila {
        border-radius: 50%;
        max-width: 250px;
    }

    /* End of 1st section */
    /* Beginning of 2nd section */

    .energetica {
        margin-left: 10px;
    }
    
    .energetica {
        border-radius: 10px;
        width: 33vh;
        margin-right: 30px;
    }

    .energetica-wrapper {
        text-align: right;
        padding-left: 20px;
    }

    /*End of 2nd section */
    /* Beginning of 3rd section */

    .third-block {
        background-color: #038DF1;
    }

    .night {
        border-radius: 10px;
        width: 33vh;
    }

    .event-background {
        background-image: url(images/exhibition-1863344_1920.jpg);
        object-fit: cover;
        height: 45vh;
        display: flex;
        justify-content: space-around;
        margin: auto;
    }

    .slogan-event {
        color: white;
        margin: auto 0px;
    }

    .slogan-event h1 {
        font-size: 40px;
    }

    .slogan-event p {
        font-size: 20px;
    }

    /* Visit page */

    .crowd-banner {
        background-color: #6B00FC;
        height: 100px;
        display: flex;
        justify-content: space-around;
        color: white;
    }


    .crowd {
        background-image: url(images/tetiana-shyshkina-vH94rzYc0xs-unsplash.jpg);
        height: 400px;
        background-position: top;
    }

    .crowd-title {
        margin: auto;
        font-size: 20px;
    }

    .visit-info-wrapper {
        width: 70%;
        margin: auto;
    }

    .section-divider {
        display: flex;
        justify-content: space-around;
    }

    .visit-page {
        width: 70%;
        margin: auto;
    }

    .visit-info-wrapper {
        width: 70%;
        margin: auto;
    }

    .visit-page p {
        font-size: 18px;
    }

    .visit-page h3 {
        font-size: 20px;
    }

    .location-wrapper, .Admission-wrapper, .hours-wrapper, .accessibility-wrapper, .food-drink-wrapper, .shop-wrapper  {
        border: 2px solid #6B00FC;
        border-radius: 16px;
        width: auto;
        padding: 15px;
    }

    .location-wrapper, .Admission-wrapper, .hours-wrapper, .accessibility-wrapper, .food-drink-wrapper, .shop-wrapper, .support-text  {
        margin-bottom: 30px;
    }

    .location-wrapper, .support-wrapper, .interships-wrapper {
        margin-top: 20px;

    }

    .visit-wrapper {
        height: 680px;
        margin-top: 20px
    }

    .first-three {
        float: left;
        width: 45%;
    }

    .second-three {
        float: right;
        width: 45%;
        margin-top: 20px;
    }

    .admission-text {
        padding-top: 10px;
    }

     /* Get involved page */

     .getinvolved-top {
        width: 70%;
        margin: auto;
     }
    
     .getinvolved-img {
        background-image: url('images/william-bout-264826.jpg');
        height: 400px;
    }

    .getinvolved-wrapper {
        display: flex;
        justify-content: space-around;
        width: 70%;
        margin: auto;
    }

    .text-wrapper {
        width: 70%;
        padding-right: 40px;
        margin: 20px;
    }

    .support-text, .volunteer-text {
        margin-top: 10px;
    }

    .form-wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #6B00FC;
        color: white;
        border-radius: 20px;
        width: 360px;
        height: 380px;
        margin: auto;
        margin-top: 40px;
      }

      .form-wrapper h3 {
        font-size: 23px;
        text-align: center;
        margin-bottom: 20px;
      }

      label {
        text-align: left;
        font-size: 17px;
    
      }

      input {
        border-radius: 8px;
        width: 240px;
        height: 35px;
        border: none;
        margin-bottom: 20px;
      }

      textarea  {
        width: 240px;
        height: 75px;
      }

      label, input{
        display: flex;
        flex-direction: column;
      }

      .form-submitbtn {
        background-color: #FFBF00;
        width: 200px;
        height: 40px;
        border-radius: 20px;
        text-align: center;
        padding: 9px 0px;
        margin: auto;
        cursor: pointer;
        font-weight: 600;
        margin-top: 10px;
      }

      .form-submitbtn a {
        color: black;
      }

    /* Footer */

    .contact-wrapper {
        margin: auto;
        width: 60%;
    }

    .line {
        width: 100%;
        height: 40px;
        background-color: #7711FF;
    }
    
    .footer-wrapper, .footer-wrapper1 {
        background-color: #6B00FC;
    }
    
    .footer-wrapper1 {
        margin-top: 0px;
    }
    
    
    .footer-row{
        width: 70%;
        margin: auto;
        color: white;
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
        margin-bottom: 40px;
    }

    .footer-row p {
        font-size: 16px;
        padding: 2px;
    }

    
    .csm {
        text-align: center;
        color: white;
    }
}